.productTitleWrapper {
    display: flex;
    align-items: center;
}

.productTitleWrapper img {
    width: 500px;
    margin: 60px 60px 50px 70px;
}

.productTitleWrapper h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    margin-left: 80px;
    padding-right: 100px;
}

.price {
    margin-left: 80px;
}

.priceCategoryWrapper {
    display: flex;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.price > span {
    color: green;
}

.overview {
    font-size: 21px;
    max-width: 700px;
    line-height: 1.5;
    margin-left: 70px;
}

.priceBtnWrapper {
    display: flex;
    gap: 10px;
    align-items: center;
}

.iconButton {
    border: none;
    background: none;
    cursor: pointer;
    width: 50px;
    transition: transform 0.3s ease-in-out;
    margin: 20px 20px 0 0;
}

.iconButton:hover {
    transform: scale(1.3);
}

.backSvgWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.backIcons {
    background: none;
    border: none;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
    margin: 20px 0 0 20px;
}

.backIcons:hover {
    transform: scale(1.3);
}

.btnAdd {
    border: none;
    background: none;
    display: flex;
    align-items: center;
    margin-top: 20px;
    gap: 10px;
    font-size: 16px;
    transition: transform 0.2s ease-in-out;
}

.btnAdd:hover {
    transform: scale(1.1);
}