.productCard {
    padding: 20px;
    border-radius: 8px;
}

.productCard ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 20px;
}

.productCard li {
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    overflow: hidden;
    transition: box-shadow 0.5s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0 20px 0;
}

.price {
    font-weight: 600;
    font-size: larger;
}

.productCard li:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.productCard img {
    max-width: 100%;
    height: auto;
    padding: 10px 0 10px 5px;
    /* object-fit: contain; */
}

.productCard h3 {
    border-top: 1px solid #e0e0e0;
    padding: 10px 15px 10px 15px;
}

.productCard p {
    margin: 5px 0;
    color: #666;
    font-size: 0.8rem;
}

.selectWrap {
    display: flex;
    gap: 20px;
    align-items: center;
}

.selectWrap select {
    width: 200px;
    height: 40px;
    padding: 5px;
    border: 1px solid #007bff;
    border-radius: 5px;
    background-color: #f8f9fa;
    color: #333;
    font-size: 16px;
    outline: none;
    cursor: pointer;
    flex: 1;
}

.selectWrap select:hover {
    border-color: #0056b3;
}

.selectWrap select:focus {
    border-color: #0056b3;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.selectWrap option {
    background-color: #f8f9fa;
    color: #333;
}

.inputWrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.photo img {
    max-width: 300px;
    max-height: 400px;
}

.inputWrap input {
    width: 300px;
    padding: 8px 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.list {
    cursor: pointer;
}

.basketBtn {
    border: none;
    background: none;
    
}
